<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2><strong>SIGN IN</strong></h2></center>

  <div class="col-md-3">
		<label for="inputUsername" >Username: </label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Enter Username" ng-model="user.username" autofocus>
        
          
        <label for="inputPassword" >Password: </label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Enter Password" ng-model="user.password" autofocus>
		<br>
        <button class="button btn btn-lg btn-primary btn-block" type="submit" ng-click="validateUser()"><span class="glyphicon glyphicon-log-in"></span> Sign in</button>
          </div>   </center>   
<br><br><br><br><br><br><br><br>
</body>
</html>